@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* colors */

  [data-primary-color='pink-salmon'] {
    --p-50: 255 241 242;
    --p-100: 255 228 231;
    --p-200: 255 204 212;
    --p-300: 254 147 163;
    --p-400: 253 111 136;
    --p-500: 246 61 97;
    --p-600: 228 26 76;
    --p-700: 192 16 64;
    --p-800: 161 16 60;
    --p-900: 138 17 57;
  }
  [data-secondary-color='pink-salmon'] {
    --s-50: 255 241 242;
    --s-100: 255 228 231;
    --s-200: 255 204 212;
    --s-300: 254 147 163;
    --s-400: 253 111 136;
    --s-500: 246 61 97;
    --s-600: 228 26 76;
    --s-700: 192 16 64;
    --s-800: 161 16 60;
    --s-900: 138 17 57;
  }
  [data-primary-color='chestnut-rose'] {
    --p-50: 252 244 244;
    --p-100: 250 230 230;
    --p-200: 247 209 210;
    --p-300: 240 177 178;
    --p-400: 229 132 133;
    --p-500: 212 82 84;
    --p-600: 194 64 66;
    --p-700: 163 50 52;
    --p-800: 135 45 46;
    --p-900: 113 43 44;
  }
  [data-secondary-color='chestnut-rose'] {
    --s-50: 252 244 244;
    --s-100: 250 230 230;
    --s-200: 247 209 210;
    --s-300: 240 177 178;
    --s-400: 229 132 133;
    --s-500: 212 82 84;
    --s-600: 194 64 66;
    --s-700: 163 50 52;
    --s-800: 135 45 46;
    --s-900: 113 43 44;
  }
  [data-primary-color='asparagus'] {
    --p-50: 244 247 238;
    --p-100: 230 237 218;
    --p-200: 207 221 185;
    --p-300: 176 198 144;
    --p-400: 148 175 108;
    --p-500: 124 155 82;
    --p-600: 91 117 59;
    --p-700: 71 90 49;
    --p-800: 59 73 43;
    --p-900: 51 64 39;
  }
  [data-secondary-color='asparagus'] {
    --s-50: 244 247 238;
    --s-100: 230 237 218;
    --s-200: 207 221 185;
    --s-300: 176 198 144;
    --s-400: 148 175 108;
    --s-500: 124 155 82;
    --s-600: 91 117 59;
    --s-700: 71 90 49;
    --s-800: 59 73 43;
    --s-900: 51 64 39;
  }
  [data-primary-color='cerise'] {
    --p-50: 253 242 249;
    --p-100: 252 231 245;
    --p-200: 251 207 236;
    --p-300: 249 168 220;
    --p-400: 244 114 195;
    --p-500: 235 73 169;
    --p-600: 219 43 139;
    --p-700: 189 25 110;
    --p-800: 157 23 91;
    --p-900: 131 24 78;
  }
  [data-secondary-color='cerise'] {
    --s-50: 253 242 249;
    --s-100: 252 231 245;
    --s-200: 251 207 236;
    --s-300: 249 168 220;
    --s-400: 244 114 195;
    --s-500: 235 73 169;
    --s-600: 219 43 139;
    --s-700: 189 25 110;
    --s-800: 157 23 91;
    --s-900: 131 24 78;
  }
  [data-primary-color='salomie'] {
    --p-50: 255 249 237;
    --p-100: 254 241 214;
    --p-200: 252 223 172;
    --p-300: 250 204 130;
    --p-400: 246 165 65;
    --p-500: 243 139 28;
    --p-600: 228 112 18;
    --p-700: 189 85 17;
    --p-800: 151 68 21;
    --p-900: 121 57 21;
  }
  [data-secondary-color='salomie'] {
    --s-50: 255 249 237;
    --s-100: 254 241 214;
    --s-200: 252 223 172;
    --s-300: 250 204 130;
    --s-400: 246 165 65;
    --s-500: 243 139 28;
    --s-600: 228 112 18;
    --s-700: 189 85 17;
    --s-800: 151 68 21;
    --s-900: 121 57 21;
  }
  [data-primary-color='turquoise-blue'] {
    --p-50: 235 254 248;
    --p-100: 207 252 235;
    --p-200: 163 247 219;
    --p-300: 85 235 196;
    --p-400: 44 219 179;
    --p-500: 7 194 158;
    --p-600: 0 157 129;
    --p-700: 0 126 107;
    --p-800: 1 100 86;
    --p-900: 2 82 72;
  }
  [data-secondary-color='turquoise-blue'] {
    --s-50: 235 254 248;
    --s-100: 207 252 235;
    --s-200: 163 247 219;
    --s-300: 85 235 196;
    --s-400: 44 219 179;
    --s-500: 7 194 158;
    --s-600: 0 157 129;
    --s-700: 0 126 107;
    --s-800: 1 100 86;
    --s-900: 2 82 72;
  }
  /* elements */
  * {
    @apply dark:text-p-100 text-p-800;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply dark:text-p-50 text-p-900 font-bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h5,
  h6 {
    @apply text-sm;
  }
  ::selection {
    @apply bg-p-500 text-p-50;
  }
  /* classes */
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    @apply border-p-400 dark:border-p-200;
  }
}

@layer components {
  .btn {
    @apply bg-p-500 font-semibold px-4 py-2 rounded;
  }
}
